<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  <h1>Indiggo</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="celestialOrbit.animatePlanet = !celestialOrbit.animatePlanet" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Start/Stop Orbit</span>
        <mat-icon mat-list-icon *ngIf="!celestialOrbit.animatePlanet">play_arrow</mat-icon>
        <mat-icon mat-list-icon *ngIf="celestialOrbit.animatePlanet">pause</mat-icon>
      </mat-list-item>
      <mat-list-item (click)="getRandomPlanet()" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Get new planet</span>
        <mat-icon mat-list-icon>find_replace</mat-icon>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Change Orbital Parameters</span>
        <mat-icon mat-list-icon>settings</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <orbit-form [celestialOrbit]="celestialOrbit"></orbit-form>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <celestial-orbit-animation [orbitalSpeed]="celestialOrbit.orbitalSpeed" [rotationalSpeed]="celestialOrbit.rotationalSpeed" [animatePlanet]="celestialOrbit.animatePlanet" [planet]="celestialOrbit.planet"></celestial-orbit-animation>
</mat-sidenav-container>
