.mat-button-base{
  margin: 8px 8px 8px 8px;
}

.example-container {
  height: 88vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

@-webkit-keyframes orbit {
  from {transform:rotate(0deg) }
  to { transform:rotate(360deg) }
}

@keyframes rotate-planet {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
